.txt1 {
    font-size:  14px;
    font-family: "Gill Sans", sans-serif;
    text-align: center;
    align-items: center;
    color: blueviolet;

}

.msg-erro{
    font-size:  25px;
    font-family: "Gill Sans", sans-serif;
    text-align: center;
    align-items: center;
    color: blueviolet;
}

